In [60]:
import mysql.connector
from dotenv import load_dotenv
import os

In [61]:
load_dotenv()

True

In [62]:
try:

  connection = mysql.connector.connect(
    host=os.getenv("MYSQL_INSTANCE_NAME"),
    user=os.getenv("MYSQL_USER"),
    password=os.getenv("MYSQL_PASSWORD"),
    database=os.getenv("MYSQL_DB_NAME_DATA")
  )
  

  if connection.is_connected():
    print("Connected to MySQL database")

    cursor = connection.cursor()

    query = "CALL doluluk_orani_subeler()"
    cursor.execute(query)

    rows = cursor.fetchall()
    for row in rows:
      print(row)

except mysql.connector.Error as e:
  print(f"Error: {e}")

finally:

  if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection closed")

Connected to MySQL database
('Konak İngiliz Okulu', Decimal('160'), Decimal('350'))
('Buca İngiliz Okulu', Decimal('185'), Decimal('350'))
('Bornova İngiliz Okulu', Decimal('290'), Decimal('675'))
('Balçova İngiliz Okulu', Decimal('295'), Decimal('750'))
('Çiğli Amerikan Enstitüsü', Decimal('130'), Decimal('600'))
('Narlıdere Amerikan Enstitüsü', Decimal('325'), Decimal('525'))
('Bayraklı Amerikan Enstitüsü', Decimal('275'), Decimal('600'))
('Karabağlar Amerikan Enstitüsü', Decimal('290'), Decimal('600'))
('Bornova Deutschlandia', Decimal('175'), Decimal('600'))
('Bayraklı Deutschlandia', Decimal('165'), Decimal('675'))
('Konak Deutschlandia', Decimal('255'), Decimal('525'))
('Karşıyaka Deutschlandia', Decimal('235'), Decimal('525'))
('Karşıyaka İngiliz Okulu', Decimal('240'), Decimal('700'))
('Gaziemir Amerikan Enstitüsü', Decimal('405'), Decimal('700'))

In [63]:
import pandas as pd
import numpy as np

In [64]:
original_data = pd.DataFrame(rows)
original_data

                                0    1    2
0             Konak İngiliz Okulu  160  350
1              Buca İngiliz Okulu  185  350
2           Bornova İngiliz Okulu  290  675
3           Balçova İngiliz Okulu  295  750
4        Çiğli Amerikan Enstitüsü  130  600
5    Narlıdere Amerikan Enstitüsü  325  525
6     Bayraklı Amerikan Enstitüsü  275  600
7   Karabağlar Amerikan Enstitüsü  290  600
8           Bornova Deutschlandia  175  600
9          Bayraklı Deutschlandia  165  675
10            Konak Deutschlandia  255  525
11        Karşıyaka Deutschlandia  235  525
12        Karşıyaka İngiliz Okulu  240  700
13    Gaziemir Amerikan Enstitüsü  405  700

In [65]:
date_columns = ['2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01',
                '2022-01-01', '2022-04-01', '2022-07-01', '2022-10-01',
                '2023-01-01', '2023-04-01', '2023-07-01', '2023-10-01', 
                '2024-01-01', '2024-04-01', '2024-07-01', '2024-10-01']

schools = [
    "Konak İngiliz Okulu",
    "Buca İngiliz Okulu",
    "Bornova İngiliz Okulu",
    "Balçova İngiliz Okulu",
    "Çiğli Amerikan Enstitüsü",
    "Narlıdere Amerikan Enstitüsü",
    "Bayraklı Amerikan Enstitüsü",
    "Karabağlar Amerikan Enstitüsü",
    "Bornova Deutschlandia",
    "Bayraklı Deutschlandia",
    "Konak Deutschlandia",
    "Karşıyaka Deutschlandia",
    "Karşıyaka İngiliz Okulu",
    "Gaziemir Amerikan Enstitüsü"
]


random_data = [
    np.array([322, 139, 295, 331, 123, 279, 135, 308, 334, 235, 349, 183, 298, 159, 188, 296], dtype=np.int32),
    np.array([181, 257, 209, 309, 253, 257, 280, 111, 270, 108, 168, 248, 126, 108, 208, 230], dtype=np.int32),
    np.array([365, 183, 304, 508, 579, 182, 628, 208, 383, 147, 467, 526, 125, 231, 161, 374], dtype=np.int32),
    np.array([591, 696, 699, 711, 309, 536, 479, 640, 574, 257, 140, 689, 182, 565, 329, 438], dtype=np.int32),
    np.array([406, 462, 301, 539, 477, 445, 508, 570, 150, 218, 568, 529, 299, 488, 432, 455], dtype=np.int32),
    np.array([298, 510, 202, 183, 439, 210, 227, 520, 316, 133, 138, 316, 523, 260, 184, 310], dtype=np.int32),
    np.array([598, 334, 384, 441, 508, 211, 504, 536, 315, 262, 173, 170, 177, 319, 274, 467], dtype=np.int32),
    np.array([478, 116, 253, 298, 504, 375, 300, 391, 514, 391, 515, 114, 477, 566, 584, 556], dtype=np.int32),
    np.array([101, 462, 280, 123, 498, 128, 145, 150, 325, 305, 117, 509, 567, 432, 599, 420], dtype=np.int32),
    np.array([156, 329, 108, 355, 520, 660, 152, 112, 484, 354, 648, 201, 627, 613, 573, 604], dtype=np.int32),
    np.array([114, 405, 414, 493, 311, 253, 143, 455, 171, 358, 249, 403, 302, 372, 257, 463], dtype=np.int32),
    np.array([299, 195, 315, 202, 168, 163, 330, 249, 275, 274, 292, 455, 398, 242, 138, 277], dtype=np.int32),
    np.array([508, 553, 693, 330, 197, 420, 174, 598, 522, 344, 186, 385, 159, 646, 167, 602], dtype=np.int32),
    np.array([624, 106, 665, 178, 374, 289, 231, 481, 575, 594, 640, 182, 644, 655, 140, 419], dtype=np.int32)
]

In [66]:
data_dict = {"Date": date_columns}
for school, data in zip(schools, random_data):
    data_dict[school] = data

df = pd.DataFrame(data_dict)

df

,Date,Konak İngiliz Okulu,Buca İngiliz Okulu,Bornova İngiliz Okulu,Balçova İngiliz Okulu,Çiğli Amerikan Enstitüsü,Narlıdere Amerikan Enstitüsü,Bayraklı Amerikan Enstitüsü,Karabağlar Amerikan Enstitüsü,Bornova Deutschlandia,Bayraklı Deutschlandia,Konak Deutschlandia,Karşıyaka Deutschlandia,Karşıyaka İngiliz Okulu,Gaziemir Amerikan Enstitüsü
0,2021-01-01,322,181,365,591,406,298,598,478,101,156,114,299,508,624
1,2021-04-01,139,257,183,696,462,510,334,116,462,329,405,195,553,106
2,2021-07-01,295,209,304,699,301,202,384,253,280,108,414,315,693,665
3,2021-10-01,331,309,508,711,539,183,441,298,123,355,493,202,330,178
4,2022-01-01,123,253,579,309,477,439,508,504,498,520,311,168,197,374
5,2022-04-01,279,257,182,536,445,210,211,375,128,660,253,163,420,289
6,2022-07-01,135,280,628,479,508,227,504,300,145,152,143,330,174,231
7,2022-10-01,308,111,208,640,570,520,536,391,150,112,455,249,598,481
8,2023-01-01,334,270,383,574,150,316,315,514,325,484,171,275,522,575
9,2023-04-01,235,108,147,257,218,133,262,391,305,354,358,274,344,594
10,2023-07-01,349,168,467,140,568,138,173,515,117,648,249,292,186,640
11,2023-10-01,183,248,526,689,529,316,170,114,509,201,403,455,385,182
12,2024-01-01,298,126,125,182,299,523,177,477,567,627,302,398,159,644
13,2024-04-01,159,108,231,565,488,260,319,566,432,613,372,242,646,655
14,2024-07-01,188,208,161,329,432,184,274,584,599,573,257,138,167,140
15,2024-10-01,296,230,374,438,455,310,467,556,420,604,463,277,602,419

In [67]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
import matplotlib.pyplot as plt

In [68]:
# Ensure the Date column is in datetime format and set as index
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df = df.asfreq('QS')  # Explicitly set quarterly frequency

In [69]:
# List of all school columns
school_columns = df.columns

In [70]:
# Forecast horizon
forecast_steps = 4
forecast_start = '2025-01-01'
forecast_index = pd.date_range(start=forecast_start, periods=forecast_steps, freq='QS')

# Create a new DataFrame for forecasts
forecast_df = pd.DataFrame(index=forecast_index)

# Loop through each school column
for school in school_columns:
    print(f"Processing: {school}")
    
    # Extract data for the current school
    school_data = df[school]
    
    # Define SARIMA model with adjusted parameters
    try:
        model = SARIMAX(school_data,
                        order=(1, 1, 1),  # p, d, q
                        seasonal_order=(0, 0, 0, 4),  # Simplified seasonal terms
                        enforce_stationarity=False,
                        enforce_invertibility=False)
        
        # Fit the model
        results = model.fit(disp=False)
        
        # Forecast for the specified steps ahead
        forecast = results.get_forecast(steps=forecast_steps)
        forecast_values = forecast.predicted_mean
        
        # Round forecast values down to the nearest integer
        forecast_values = np.floor(forecast_values).astype(int)
        
        # Add forecast to the forecast DataFrame
        forecast_df[school] = forecast_values
    except Exception as e:
        print(f"Error processing {school}: {e}")
        forecast_df[school] = np.nan  # Fill with NaN in case of errors

# Join the forecast DataFrame to the original DataFrame
df_combined = pd.concat([df, forecast_df])

Processing: Konak İngiliz Okulu
Processing: Buca İngiliz Okulu
Processing: Bornova İngiliz Okulu
Processing: Balçova İngiliz Okulu
Processing: Çiğli Amerikan Enstitüsü
Processing: Narlıdere Amerikan Enstitüsü
Processing: Bayraklı Amerikan Enstitüsü
Processing: Karabağlar Amerikan Enstitüsü
Processing: Bornova Deutschlandia
Processing: Bayraklı Deutschlandia
Processing: Konak Deutschlandia
Processing: Karşıyaka Deutschlandia
Processing: Karşıyaka İngiliz Okulu
Processing: Gaziemir Amerikan Enstitüsü

In [71]:
df_combined

,Konak İngiliz Okulu,Buca İngiliz Okulu,Bornova İngiliz Okulu,Balçova İngiliz Okulu,Çiğli Amerikan Enstitüsü,Narlıdere Amerikan Enstitüsü,Bayraklı Amerikan Enstitüsü,Karabağlar Amerikan Enstitüsü,Bornova Deutschlandia,Bayraklı Deutschlandia,Konak Deutschlandia,Karşıyaka Deutschlandia,Karşıyaka İngiliz Okulu,Gaziemir Amerikan Enstitüsü
2021-01-01,322,181,365,591,406,298,598,478,101,156,114,299,508,624
2021-04-01,139,257,183,696,462,510,334,116,462,329,405,195,553,106
2021-07-01,295,209,304,699,301,202,384,253,280,108,414,315,693,665
2021-10-01,331,309,508,711,539,183,441,298,123,355,493,202,330,178
2022-01-01,123,253,579,309,477,439,508,504,498,520,311,168,197,374
2022-04-01,279,257,182,536,445,210,211,375,128,660,253,163,420,289
2022-07-01,135,280,628,479,508,227,504,300,145,152,143,330,174,231
2022-10-01,308,111,208,640,570,520,536,391,150,112,455,249,598,481
2023-01-01,334,270,383,574,150,316,315,514,325,484,171,275,522,575
2023-04-01,235,108,147,257,218,133,262,391,305,354,358,274,344,594
2023-07-01,349,168,467,140,568,138,173,515,117,648,249,292,186,640
2023-10-01,183,248,526,689,529,316,170,114,509,201,403,455,385,182
2024-01-01,298,126,125,182,299,523,177,477,567,627,302,398,159,644
2024-04-01,159,108,231,565,488,260,319,566,432,613,372,242,646,655
2024-07-01,188,208,161,329,432,184,274,584,599,573,257,138,167,140
2024-10-01,296,230,374,438,455,310,467,556,420,604,463,277,602,419
2025-01-01,224,174,322,398,427,298,376,527,497,521,319,268,342,428
2025-04-01,250,192,334,412,429,298,348,530,478,521,463,265,411,426
2025-07-01,241,186,331,407,429,298,338,529,482,521,319,264,393,426
2025-10-01,244,188,332,408,429,298,336,529,481,521,463,264,398,426

In [72]:
original_data_1 = np.array(original_data[1])

In [73]:
df_combined.loc['2024-10-01'] = original_data_1

C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '160' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '185' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '290' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '295' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '130' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '325' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '275' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '290' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '175' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '165' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '255' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '235' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '240' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1
C:\Users\dell\AppData\Local\Temp\ipykernel_14636\1198366805.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '405' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc['2024-10-01'] = original_data_1

In [74]:
df_combined = df_combined.astype(int)
df_combined

,Konak İngiliz Okulu,Buca İngiliz Okulu,Bornova İngiliz Okulu,Balçova İngiliz Okulu,Çiğli Amerikan Enstitüsü,Narlıdere Amerikan Enstitüsü,Bayraklı Amerikan Enstitüsü,Karabağlar Amerikan Enstitüsü,Bornova Deutschlandia,Bayraklı Deutschlandia,Konak Deutschlandia,Karşıyaka Deutschlandia,Karşıyaka İngiliz Okulu,Gaziemir Amerikan Enstitüsü
2021-01-01,322,181,365,591,406,298,598,478,101,156,114,299,508,624
2021-04-01,139,257,183,696,462,510,334,116,462,329,405,195,553,106
2021-07-01,295,209,304,699,301,202,384,253,280,108,414,315,693,665
2021-10-01,331,309,508,711,539,183,441,298,123,355,493,202,330,178
2022-01-01,123,253,579,309,477,439,508,504,498,520,311,168,197,374
2022-04-01,279,257,182,536,445,210,211,375,128,660,253,163,420,289
2022-07-01,135,280,628,479,508,227,504,300,145,152,143,330,174,231
2022-10-01,308,111,208,640,570,520,536,391,150,112,455,249,598,481
2023-01-01,334,270,383,574,150,316,315,514,325,484,171,275,522,575
2023-04-01,235,108,147,257,218,133,262,391,305,354,358,274,344,594
2023-07-01,349,168,467,140,568,138,173,515,117,648,249,292,186,640
2023-10-01,183,248,526,689,529,316,170,114,509,201,403,455,385,182
2024-01-01,298,126,125,182,299,523,177,477,567,627,302,398,159,644
2024-04-01,159,108,231,565,488,260,319,566,432,613,372,242,646,655
2024-07-01,188,208,161,329,432,184,274,584,599,573,257,138,167,140
2024-10-01,160,185,290,295,130,325,275,290,175,165,255,235,240,405
2025-01-01,224,174,322,398,427,298,376,527,497,521,319,268,342,428
2025-04-01,250,192,334,412,429,298,348,530,478,521,463,265,411,426
2025-07-01,241,186,331,407,429,298,338,529,482,521,319,264,393,426
2025-10-01,244,188,332,408,429,298,336,529,481,521,463,264,398,426

In [75]:
import json

# Convert DataFrame to JSON
json_data = df_combined.to_json(orient='records') 

# Write JSON to a file (optional)
with open('data.json', 'w') as f:
   f.write(json_data)